extends model
block content
    hr
    form.form-horizontal(role='form')
        .form-group
            label.col-sm-2.col-sm-offset-2.control-label(style='color:#576f95')
                | 标题：
            .col-sm-6
                input.form-control.i11(type='text')
        .form-group
            label.col-sm-2.col-sm-offset-2.control-label(style='color:#576f95')
                | 图片名字
            .col-sm-6
                input.form-control.i12(type='text')
        .form-group
            label.col-sm-2.col-sm-offset-2.control-label(style='color:#576f95')
                | 图片地址(url)
            .col-sm-6
                input.form-control.i13(type='text')
        .form-group
            label.col-sm-2.col-sm-offset-2.control-label(style='color:#576f95')
                | 帖子描述
            .col-sm-6
                textarea.form-control.i14(type='text' rows='12' cols='36')
        .form-group
            label.col-sm-2.col-sm-offset-2.control-label(style='color:#576f95')
                | 时间
            .col-sm-6
                input.form-control.i14(type='date')
                
        .form-group(align='center')
            .btn.btn-block#b1(style='width:53%;background:#576f95;color:#ffffff;position:relative;left:8rem; top:5rem;')
                | 发表

    script(type='text/javascript').
        $(document).ready(function () {
            $('#b1').click(function () {
                if($('.i11').val() == ''){
                    alert('项目名称不能为空')
                }
                else {
                    if(confirm('确认提交项目基本信息？')){
                        $.ajax({
                            url: 'input1/input1post',
                            data: {
                                title: $('.i11').val(),
                                imgn: $('.i12').val(),
                                url: $('.i13').val(),
                                des: $('.i14').val(),
                                date: $('.i14').val(),
                            },
                            type: 'POST',
                            timeout: 36000,
                            dataType: 'text',
                            success: function (data, textStatus) {
                                var dataJson = eval("(" + data + ")");
                                console.log(dataJson);
                                if (dataJson.code == 200) {
                                    alert('数据已成功写入到数据库!')
                                }
                                else {
                                    alert('数据写入失败，请重新填写信息！')
                                }
                            }
                        })
                    }
                }
            })

        })


