doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    title express-mysql
    link(href='stylesheets/index.css', rel='stylesheet')
  body
p.wel Welcome to 
p.txt  西遇app后台管理
a#log(href='/login') 登录
a#reg(href='/register') 注册
a#mod(href='/modify') 修改密码

