doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    title 注册
    link(href='/stylesheets/register.css', rel='stylesheet')
  body
    h2 西遇app后台管理注册
    form(action='/register', method='post')
      div.inp
        label 账号：
        input#phone.phone(name='phone', type='text', placeholder='请输入手机号')
      br
      div.inp
        label 密码：
        input#pwd.pwd(name='pwd', type='password', placeholder='请输入密码')
      br
      button 注册
