aside.main-sidebar
    style.
        span{
            text-align:center;
        }
        .name{
            
        }
    
    section.sidebar
        ul.sidebar-menu
            li.header Admin Area
            
                li.treeview
                    a(href='/video')
                        i.fa.fa-video-camera
                        span.name 视频管理页
                        span.pull-right-container
                            i.fa.fa-angle-left.pull-right



                li.treeview
                    a(href='/users')
                        i.fa.fa-user
                        span.name 用户管理页
                        span.pull-right-container
                            i.fa.fa-angle-left.pull-right
                    
                li.treeview
                    a(href='/post')
                        i.fa.fa-file-text-o
                        span 帖子管理页
                        span.pull-right-container
                            i.fa.fa-angle-left.pull-right

                li.treeview
                    a(href='/together')
                        i.fa.fa-group
                        span 结伴管理页
                        span.pull-right-container
                            i.fa.fa-angle-left.pull-right

                li.treeview
                    a(href='/history')
                        i.fa.fa-history
                        span 搜索历史页
                        span.pull-right-container
                            i.fa.fa-angle-left.pull-right

                li.treeview
                    a(href='/feedback')
                        i.fa.fa-check-square-o
                        span 反馈管理页
                        span.pull-right-container
                            i.fa.fa-angle-left.pull-right
               
                li.treeview
                    a(href='/addpost')
                        i.fa.fa-pencil-square-o
                        span    添加帖子
                        span.pull-right-container
                            i.fa.fa-angle-left.pull-right

                li.treeview
                    a(href='/admin')
                        i.fa.fa-male
                        span 管理员界面
                        span.pull-right-container
                            i.fa.fa-angle-left.pull-right

                   