page-search {
    .top1{
        font-size: 3rem;
        color: rgba(0,0,0,0.7);
        margin-top:1rem;
        margin-left: 0.5rem;
    }
  
    .top2{
        margin-top:-3.5rem;
        margin-left: 4rem;
        float: left;
        span{
            margin-top:-1rem;
            margin-left: 23rem;
            float: left;
            color: rgba(0,0,0,0.7);
        }
        .tubiao{
            position: absolute;
            left: 4.3rem;
            top:1.8rem;
            color:rgba(0,0,0,0.8);
        }

        .search{
            position: absolute;
            top: 1rem;
            width: 20rem;
            margin-top: 0.4rem;
            height: 2.5rem;
            text-align: center;
            -moz-border-radius: 11px;
            -khtml-border-radius: 11px;
            -webkit-border-radius: 11px;
            border: none;
            border-radius: 15px;
            background-color: rgba(0,0,0,0.1);
        }
        .text{
            position: absolute;
            top: 2.6rem;
            right:3rem;
        }
    }
    p{
        color:rgba(0,0,0,0.6);
    }
    ul{
        li{
            float:left;
            width:4rem;
            height: 2rem;
            line-height: 2rem;
            text-align: center;
            
            background-color: rgba(0,0,0,0.2);
            margin: 0rem 1rem 1rem 1rem;
        }
    }
   span{
       position: absolute;
       margin-top: 6rem;
       margin-left: 22rem;
   }

}
