page-home {
        .div{
            width:100rem;
            height: 5rem;
            line-height: 5rem;
            background-color: rgba(0, 0, 0, 0.8);
            margin: 0 auto;
        }
        .div1{
            float:left;
            margin-left: 4rem;
            margin-right: 10rem;
            color: #ffff;
        }
        .div2{
            float: left;
            color:#ffff;
        }
        .div3{
            float: left;
            margin-left: 50rem;
            color:#ffff;
        }
        .div4{
            float: left;
            margin-left: 2rem;
            color:#ffff;
        }
        .div5{
            float: left;
            position: absolute;
            margin-left: 84rem;
            img{
                width:10%;
                margin-top:0.7rem;
                border-radius: 50%;
            }
        }
        .div6{
            float: left;
            color:#ffff;
            margin-left: 6rem;
        }
        .bot{
            width:100rem;
            height: 50rem;
            margin:0 auto;
        }
        .left{
            width:20rem;
            height: 50rem;
            margin-top: -1.15rem;
            background-color: rgba(0, 0, 0, 0.8);
            ul li{
                list-style: none;
                color: #ffff;
                margin-left: -2rem;
                .ion1{
                    margin-left: 12rem;
                }
                .ion2{
                    margin-left: 9.6rem;
                }
                .ion3{
                    margin-left: 9.6rem;
                }
                .ion4{
                    margin-left: 9.6rem;
                }
                .ion5{
                    margin-left: 7.3rem;
                }
                .ion6{
                    margin-left: 9.6rem;
                }
                .ion7{
                    margin-left: 9.6rem;
                }
            }
        }
    }
    