extends ../../views/layout/base

    
block content  
    section.content-header
        style.
            .border{
                position:relative;
                top:2rem;
                border-top:1px solid #bfbfbf;
            }
            ul  li{
                list-style:none;
            }
            .right{
                position: relative;
                left:2%;
                top: 3.5rem;
            }
            #title{
                margin: 0%;
                padding: 0;
                display: inline-block;
                margin-left: 2rem;
                font-size:2rem;
            }
            #title  ul{
                border-radius:20%;

            }
            #status{
                padding: 1rem 8rem 1rem 8rem;
                background-color: #fafafa;
                margin: 0%;
                float: left;
                border-bottom: solid 1px;
                border-bottom-color: #e8e8e8;
            }
            .li1{
                background-color: #fafafa;
                margin: 0%;
                padding: 1rem 7rem;
                float: left;
                border-bottom: solid 1px;
                border-bottom-color: #e8e8e8;
               
            }
            /*表格内容*/
            .text1{
                margin: 0%;
                padding: 0;
                margin-left: 2rem;
                display: inline-block;
                position: relative;
                top: 2%;
                font-size:1.8rem;
            }
            .txt1{
                padding: 1rem 7rem;
            }
            .txt2{
                padding:  1rem 6rem;
            }
            .txt3{
                padding:  1rem 2rem 1rem 2rem;
            }
            .txt4{
                padding:  1rem 5rem 1rem 12rem;
            }
            .txt5{
                padding:  1.1rem 3rem 1.1rem 10rem;
            }
            .txt6{
                padding:  1rem 1rem 1rem 9rem;
                color:#1890ff;
            }

            .text1  li{
                margin: 0%;
                float: left;
                border-bottom: solid 1px;
                border-bottom-color: #e8e8e8;
            }
            .txt3-3{
                padding:  1rem 2rem 1rem 0.5rem;
            }
            .txt4-4{
                padding: 1rem 2rem 1rem 10rem;
                display: inline-block;
            }
            .txt5-5{
                padding: 1.1rem 3rem 1.1rem 13rem;
            }
            .txt6-6{
                padding: 1rem 1rem 1rem 9rem;
                color:#1890ff;
            }
        //标题  
        h1
            | 反馈管理
            small This is the feedback management page

        .border
        //表格内容
        .right
            ul#title
                li.li1 用户
                li.li1 时间
                li.li1  问题
                li#status 状态
                li.li1 更新时间
                li.li1 操作
            ul.text1
                li.txt1 哈哈
                li.txt2 2018-10-15
                li.txt3 登录问题
                li.txt4 未解决
                li.txt5 2017-10-31
                li.txt6 
                        button.btn.btn-primary(type='button') 编辑
            ul.text1
                li.txt1 嘻嘻
                li.txt2 2018-10-15
                li.txt3-3 图片管理问题
                li.txt4-4 已解决
                li.txt5-5 2017-10-31
                li.txt6-6 
                        button.btn.btn-primary(type='button') 编辑
            ul.text1
                li.txt1 哈哈
                li.txt2 2018-10-15
                li.txt3 登录问题
                li.txt4 未解决
                li.txt5 2017-10-31
                li.txt6 
                        button.btn.btn-primary(type='button') 编辑
            ul.text1
                li.txt1 嘻嘻
                li.txt2 2018-10-15
                li.txt3-3 图片管理问题
                li.txt4-4 已解决
                li.txt5-5 2017-10-31
                li.txt6-6 
                        button.btn.btn-primary(type='button') 编辑
            ul.text1
                li.txt1 哈哈
                li.txt2 2018-10-15
                li.txt3 登录问题
                li.txt4 未解决
                li.txt5 2017-10-31
                li.txt6 
                        button.btn.btn-primary(type='button') 编辑
            ul.text1
                li.txt1 嘻嘻
                li.txt2 2018-10-15
                li.txt3-3 图片管理问题
                li.txt4-4 已解决
                li.txt5-5 2017-10-31
                li.txt6-6 
                        button.btn.btn-primary(type='button') 编辑