extends ../../views/layout/base
block content  
    section.content-header
        style.
            .border{
                position:relative;
                top:2rem;
            }
            .line{
                border-top:1px solid #bfbfbf;

            }
            /*表格头*/
            .panel.panel-default{
                width:95%;
                position:relative;
                top:3rem;
                left:3%;
            }
            
            table  tr  th{
                padding:0 7rem;
                font-size:2rem;
            }
            /*用户信息第一行*/
            .table  tr  td{
                position:relative;
                font-size:1.8rem;
            }
            /*分页*/
            .pagination{
                position:relative;
                left:3rem;
                font-size:2rem;
                margin-left:5rem;
                padding:0 4rem;
            }

        h1
            | 结伴管理
            small This is the companion management page
        .border
        //表格头
        .panel.panel-default
            // Default panel contents
            .panel-heading
                table
                    tr
                        th(style="padding-left:10rem;")  用户
                        th  时间
                        th  地点
                        th  人数
                        th  更新时间
                        th  操作
            .panel-body
                //表格信息
                table.table
                        tr
                            td(style='left:9rem;')  哈哈
                            td(style='left:9rem;')  2018-10-15
                            td(style='left:6.5rem;')  西安  
                            td(style='left:9rem;')  4
                            td(style='left:20rem;')  2018-11-1
                            td(style='left:16rem;')  
                                button.btn.btn-default(type='button')    编辑
                                &nbsp;&nbsp;&nbsp;
                                button.btn.btn-danger(type='button') 删除
                        
                        tr
                            td(style='left:9rem;')  嘻嘻
                            td(style='left:9rem;')  2018-10-15
                            td(style='left:6.5rem;')  济南  
                            td(style='left:9rem;')  4
                            td(style='left:20rem;')  2018-20-2
                            td(style='left:16rem;')  
                                button.btn.btn-default(type='button')    编辑
                                &nbsp;&nbsp;&nbsp;
                                button.btn.btn-danger(type='button') 删除
                        
                        tr
                            td(style='left:9rem;')  呵呵
                            td(style='left:9rem;')  2018-10-15
                            td(style='left:6.5rem;')  杭州  
                            td(style='left:9rem;')  4
                            td(style='left:20rem;')  2018-20-3
                            td(style='left:16rem;')  
                                button.btn.btn-default(type='button')    编辑
                                &nbsp;&nbsp;&nbsp;
                                button.btn.btn-danger(type='button') 删除
                        
                        tr
                            td(style='left:9rem;')  嘿嘿
                            td(style='left:9rem;')  2018-10-15
                            td(style='left:6.5rem;')  桂林  
                            td(style='left:9rem;')  4
                            td(style='left:20rem;')  2018-20-5
                            td(style='left:16rem;')  
                                button.btn.btn-default(type='button')    编辑
                                &nbsp;&nbsp;&nbsp;
                                button.btn.btn-danger(type='button') 删除
                        
                        tr
                            td(style='left:8rem;')  大熊猫
                            td(style='left:9rem;')  2018-10-15
                            td(style='left:6.5rem;')  天津  
                            td(style='left:9rem;')  4
                            td(style='left:20rem;')  2018-20-8
                            td(style='left:16rem;')  
                                button.btn.btn-default(type='button')    编辑
                                &nbsp;&nbsp;&nbsp;
                                button.btn.btn-danger(type='button') 删除
                        
                        tr
                            td(style='left:8rem;')  北极熊
                            td(style='left:9rem;')  2018-10-15
                            td(style='left:6.5rem;')  北京  
                            td(style='left:9rem;')  4
                            td(style='left:20rem;')  2018-20-9
                            td(style='left:16rem;')  
                                button.btn.btn-default(type='button')    编辑
                                &nbsp;&nbsp;&nbsp;
                                button.btn.btn-danger(type='button') 删除
                        
                        tr
                            td(style='left:8rem;')  可妮兔
                            td(style='left:9rem;')  2018-10-15
                            td(style='left:6.5rem;')  南京  
                            td(style='left:9rem;')  4
                            td(style='left:20rem;')  2018-20-10
                            td(style='left:16rem;')  
                                button.btn.btn-default(type='button')    编辑
                                &nbsp;&nbsp;&nbsp;
                                button.btn.btn-danger(type='button') 删除
                        
                        tr
                            td(style='left:8rem;')  布朗熊
                            td(style='left:9rem;')  2018-10-15
                            td(style='left:6.5rem;')  海南  
                            td(style='left:9rem;')  4
                            td(style='left:20rem;')  2018-20-11
                            td(style='left:16rem;')  
                                button.btn.btn-default(type='button')    编辑
                                &nbsp;&nbsp;&nbsp;
                                button.btn.btn-danger(type='button') 删除
                        
                        tr
                            td(style='left:8rem;')  不加糖
                            td(style='left:9rem;')  2018-10-15
                            td(style='left:6.5rem;')  哈尔滨  
                            td(style='left:9rem;')  4
                            td(style='left:20rem;')  2018-20-12
                            td(style='left:16rem;')  
                                button.btn.btn-default(type='button')    编辑
                                &nbsp;&nbsp;&nbsp;
                                button.btn.btn-danger(type='button') 删除
                        
                    
                    
            //翻页
        nav(aria-label='Page navigation')
        ul.pagination
            li.disabled(style='position:relative;margin:0 20rem;')
            a(href='#', aria-label='Previous')
                span(aria-hidden='true') «
            li.active
            a(href='#')
                | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1 
            a(href='#')
                | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2 
            a(href='#')
                | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3 
            a(href='#')
                | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;4 
            a(href='#')
                | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;5 
            a(href='#')
                | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;6 
                span.sr-only (current)
            a(href='#', aria-label='Next')
                span(aria-hidden='true') &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;»
        
       